.container{
    width: 784.66px;
    height: 427.81;
    
    margin: 5em  auto;
    
    background: #fff;
}

.items{
    width: 50em;
   
    background: #ececec;
}

#left,#right{
    margin: 30px;
}